<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Webcam Image Classification using a pre-trained customized model and p5.js</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Riddle #3</h1>
  <p>
In the realm of codes and circuits, a maestro takes the stand,
A teacher in the digital world, with knowledge vast and grand.
With algorithms and loops, a guiding force so clear,
This computer science guru, let's applaud, it's Mr. P we revere!</p>
</div>


<div class="text-center" id="sketch-holder"></div>

<script src="/static/sketch3.js"></script>

</body>

</html>
